html
    head
        <link rel='stylesheet' href='/css/bootstrap.min.css'/>
        - var num = roomNumber;
        - var name = username;
        - var connectedUsersList = connectedUsers;
    body
        div(class="p-2 bg-dark text-white" onclick="location.href='/'")
            p Chat
        br
        div(class="p-5")
            h3 Sala Chat #{num}
            br
            div(class="row")
                div(class="col-8 rounded d-inline-block border border-dark" id="messages")
                div(class ="col-4 rounded d-inline-block border border-dark" id="users")
                    p List of connected users:
            form(id="form" action="")
                input(class="w-50" type="text" id="text")
                button(class="btn btn-primary") Enviar
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script.
        var socket = io();

        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('text');

        //banner
        var banner = document.createElement('p');
        //it fucking works
        var username = `#{name}`;
        banner.textContent = "Welcome to chat room number " +`#{num}` + ", " + username;
        messages.appendChild(banner);

        function getUserList(list){
            document.getElementById('users').innerHTML = '';
            var connectedUsers = document.getElementById('users');
            for (let i = 0; i < list.length; i++) {
                console.log(list[i]);
                let banner = document.createElement('p');
                banner.textContent = list[i];
                connectedUsers.appendChild(banner);
            }
        }

        //list of users inside
        window.addEventListener("load", function(event) {
            socket.emit('roomlist'+`#{num}`,username);
        });

        socket.on('roomlist'+`#{num}`, function(listUsers) {
            document.getElementById('users').innerHTML = '';
            var connectedUsers = document.getElementById('users');
            for (let i = 0; i < listUsers.length; i++) {
                let banner = document.createElement('p');
                banner.textContent = listUsers[i];
                connectedUsers.appendChild(banner);
            }
        });

        //to send messages
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            //getUserList(`#{connectedUsersList}`);
            if (input.value) {
                socket.emit('room'+`#{num}`,username + ": " + input.value);
                input.value = '';
            }
        });

        socket.on('room'+`#{num}`, function(msg) {
            var item = document.createElement('p');
            item.textContent = msg;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });
        
